<config>
    <modules>
        <Acme_Training>
            <version>0.1.0</version>
        </Acme_Training>
    </modules>
    <frontend>
        <routers>
            <training>
                <use>standard</use>
                <args>
                    <module>Acme_Training</module>
                    <frontName>training</frontName>
                </args>
            </training>
        </routers>
        <layout>
            <updates>
                <training>
                    <file>training.xml</file>
                </training>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <training>
                <class>Acme_Training_Block</class>
            </training>
        </blocks>
        <models>
            <training>
                <class>Acme_Training_Model</class>
            </training>
        </models>
    </global>
</config>
